#new-company-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 250px;
}

.add{
  width: fit-content;
}

.company{
  text-decoration: none;
  margin-right: 10px;
  color: tomato;
}
.company:hover{
  font-size: 15px;
  text-decoration: underline;
}
.comp-vacancies{
  text-decoration: none;
}
