h1{
   color: rgb(252, 251, 251);
   cursor: pointer;
}
.kaspi{
   width: 40x;
   height: 40px;
}
h1, .kaspi {
   display: inline;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/